@model List<CheeseMVC.Models.CheeseCategory>

<h3>Categories:</h3>

@foreach (var category in Model)
{
    <ul>
        <td>@category.Name</td>
    </ul>
}
<br />
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>